/* making changes here. */
body {
    font-family: Georgia, 'Times New Roman', Times, serif;

}

h1 { color: yellow;}

h2 { color: gray;}
[class^="sec"] {color: blueviolet;}

.mainDetails { text-align: center;}
